
	

	<p>Type in a letter!</p>
		<form action="/game/" method="POST">

			<input type='text' size='2' maxlength='1' name='letter' />
			<input type='submit' value='Guess!' />

		</form>
	
	<div style="margin-top: 50px">
		<%= d %>
		</div>

	<div style="margin-top: 50px">
		Misses: <%= m_guess %>
		</div>

	<br>
	<% if m == "You have lost" || m == "You have won!" %>
	<p> Guesses left: <%= g-1 %> </p>
	<% else %>
	<p> Guesses left: <%= g %> </p>
	<% end %>
	<br>

	<p>	<%= m %></p>

	<% if m == "You have won!" %>
		The word is <%=  word.join.split " " %>
	<% end %>

<br><br>
	<% if m == "You have lost" || m == "You have won!" %>
		<a href="/" style="color: white;">Begin again!</a>
	<% end %>

	
	<p style="color: #4b0062"> The word is <%= word.join %> </p>
